<h1>Users</h1> <br>
<%=will_paginate @users%>
  <%@users.each do |user|%>
    <h3><%= link_to user.username, user_path(user)%></h3>
    <%if logged_in? && current_user.admin?%>
      <%=link_to "Delete user", user_path(user), method: :delete%>
    <%end%>
  <%end%>
<%=will_paginate @users%>
