@import "bootstrap-sprockets";
@import "bootstrap";
body{
  font-family: 'Josefin Sans', sans-serif;
  text-align:center;

}
.sucess
{
  border: 1px solid black;
}
.success td
{
  border: 1px solid black !important;
}

.create
{
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2%;
}
.form_description, .submit_button
{
  margin-bottom: 2%;
}
.main_page
{
  margin-top: 15%;
}
.article_show
{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 5%;
}
.last_list_item li
{
  display: inline;
  list-style-type: none;
  margin-left: 5%;
}
#time
{
  margin-left: 0;
}
.article_title
{
  font-size: 2rem;
  font-weight: bold;
}
.mybutton
{
  color:white;
}
.category_list
{
  display: inline;
  list-style: square outside;
}
