@import "bootstrap-sprockets";
@import "bootstrap";
body{
  font-family: 'Josefin Sans', sans-serif;
  text-align:center;
  background-color: #fdf6ee;
}
.navbar
{
  margin-bottom: 0px;
  border-radius: 0;
}
.home
{
  margin-top: 0;
  background-image: url(img/1.jpg);
  height: 100vh;
}
.main_page_open
{
  padding-top: 25%;
  margin: 0;
}
.open_link
{
  margin: 0;
  color: black;
  font-weight: 600;
  font-size: 4.5rem;
}
.open_link:hover
{
  color:black;
}
.list-group-item
{
  background-color: #faebd7;
  border: 1px solid black;
}
.myalert
{
  margin:0;
}

.sucess
{
  border: 1px solid black;
}
.success td
{
  border: 1px solid black !important;
}

.create
{
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 2%;
}
.form_description, .submit_button
{
  margin-bottom: 2%;
}
.article_show
{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 5%;
}
.last_list_item li
{
  display: inline;
  list-style-type: none;
  margin-left: 5%;
}
#time
{
  margin-left: 0;
}
.article_title
{
  font-size: 2rem;
  font-weight: bold;
}
.mybutton
{
  color:white;
}
.category_list
{
  display: inline;
  list-style: square outside;
}
