<h1 style="margin-top:40px;">Edit category</h1>
<%=form_for @category do |c|%>
  <p>
    <%=c.label:category%> <br>
    <%=c.text_field :name, placeholder: "Enter name"%>
  </p>
  <p>
    <%=c.submit%>
  </p>
<%end%>
